form {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #004658;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: gray;
  }